.formTiltle {
  background-color: orange;
  padding: 20px;
  font-weight: 400;
}

.fieldset {
  border: none;
  width: 100%;
}

.formLegend {
  font-size: 20px;
}

.ul {
  list-style: none;
  background-color: rgb(228, 226, 226);
  padding: 10px;
  padding-bottom: 25px;
}

.inputBox {
  width: 90%;
  height: 30px;
  margin-top: 15px;
}

.formLabel {
  display: block;
  margin-top: 20px;
  height: 20px;
}

.consultationButton {
  background-color: orange;
  border: none;
  font-size: 18px;
  text-align: center;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 55px;
  /* font-weight: ; */
}



.consultationButton:hover {
  background-color: rgb(255, 153, 0);
  cursor: pointer;
}


.errorMessage {

  text-align: center;
  color: red;

}

.thankYouPage{
  background-color: orange;
  text-align: center;
  padding: 300px 0px;
}


.fieldError {
  color: red;
}

.form {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center;    /* Center items horizontally */
  padding-left: 3%;
  padding-right: 3%;
}