.tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
}
.tileImage {
  height: auto;
  width: auto;
}
@media (min-width: 1024px) {
  .tile {
    width: 30%;
  }
}

.articleP {
  color: red;
  font-weight: bold;
}
